@model Grad_Project_G2.BLL.ViewModels.SessionViewModel
@{
    ViewData["Title"] = "Details Session";
}

<h2>Session @Model.Id</h2>

<div>
    <p>CourseId: @Model.CourseId</p>
    <p>CourseName: @Model.CourseName</p>
    <p>StartDate: @Model.StartDate.ToString("yyyy-MM-dd hh:mm tt")</p>
    <p>EndDate: @Model.EndDate.ToString("yyyy-MM-dd hh:mm tt")</p>
</div>

    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
