@using Grad_Project_G2.BLL.ViewModels.CourseViewModel
@using Grad_Project_G2.DAL.Models
@model PagedResult<CourseViewModel>

<h2>All Courses</h2>

<a asp-action="Create" class="btn-primary mb-3">Create New Course</a>

<form method="get" asp-controller="Course" asp-action="Index">
    <input type="text" name="courseName" placeholder="Search by Name" />

    <select name="category">
        <option value="">All Categories</option>
        @foreach (var category in Enum.GetValues(typeof(Category)))
        {
            <option value="@category">@category</option>
        }
    </select>

    <button type="submit">Search</button>
</form>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Instructor</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var course in Model.Items)
        {
            <tr>
                <td>@course.Name</td>
                <td>@course.Category</td>
                <td>@course.InstructorName</td>
                <td>
                    <a asp-action="Details" asp-route-id="@course.Id" class="btn btn-info btn-sm">Details</a>
                    <a asp-action="Edit" asp-route-id="@course.Id" class="btn btn-warning btn-sm">Edit</a>
                    <a asp-action="Delete" asp-route-id="@course.Id" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div>Page : @Model.PageNumber of @Model.TotalPages</div>
@if (Model.TotalPages > 1)
{
    <ul class="pagination">
        <li class="page-item me-2 @(Model.HasPreviousPage ? "" : "disabled")">
            <a class="page-link" asp-action="Index" asp-route-page="@(Model.PageNumber - 1)">Pervious</a>
        </li>
        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            <li class="page-item mx-1 @(Model.PageNumber == i ? "active" : "")">
                <a class="page-link" asp-action="Index" asp-route-page="@i">@i</a>
            </li>
        }
        <li class="page-item ms-2 @(Model.HasNextPage ? "" : "disabled")">
            <a class="page-link" asp-action="Index" asp-route-page="@(Model.PageNumber + 1)">Next</a>
        </li>
    </ul>
}